doctype html
html(ng-app='RIThym')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCLQXeO6wOaY2FLqCeQEoN_2KhVhwcBk7g')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/ngmap/build/scripts/ng-map.min.js')
    script(src='/javascripts/RIThym.js')
  body
    block content
